/* -- custom css for file test.html -- */

/* -- block custom-block mt-0 mb-0 pl-0 pr-0 messages messages-init -- */
#messages-container {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

